body {
	padding: 40px;
}

h1, h2, h3, h4, h5 {
	color: #333;
}

a {
	color: lightseagreen;
	text-decoration: none;

	transition: all .2s ease-in-out;
}

a:visited {
	color: lightseagreen;
}

a:hover {
	color: teal;
}

a:active {
	text-decoration: dotted;
}